{% extends "layout.twig" %}

{% block title %}Albums{% endblock %}

{% block content %}
    <div class="main__container">
        <ul class="albums">
            {% for album in albums %}
                {{ include('block/album.twig', {album: album}, with_context=false) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}